<div class="vertical-divider"></div>
<mat-card class="content" appearance="outlined">
  <mat-card-content>
    <mat-card-subtitle>Welcome to FriendshipXL!</mat-card-subtitle>
    <p>
      You have <strong>{{ pendingRequestsCount }}</strong> pending friend
      requests.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="content" appearance="outlined">
  <mat-card-content>
    <div *ngIf="currentUserProfile">
      <mat-card-subtitle>Coworking</mat-card-subtitle>
      <label>Your Status: </label>
      <mat-slide-toggle
        [checked]="coworkingForm.get('is_coworking')?.value"
        formControlName="is_coworking"
        (change)="toggleCoworkingStatus()">
      </mat-slide-toggle>
    </div>
  </mat-card-content>
</mat-card>

<!-- Friends' Coworking Status Table -->
<mat-card class="content" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Open to Cowork</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <table
        mat-table
        [dataSource]="friendsCoworkingStatus"
        class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Friend</th>
          <td mat-cell *matCellDef="let friend">
            {{ friend.first_name }} {{ friend.last_name }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name']"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>

<div class="navigation-buttons">
  <button mat-stroked-button routerLink="/send-request">Send Request</button>
  <button mat-stroked-button routerLink="/view-requests">View Requests</button>
  <button mat-stroked-button routerLink="/view-friends">View Friends</button>
</div>
